<div>
    <md-list>
        <md-list-item class="md-2-line" ng-repeat="usero in users | filter:searchText" ng-click="null">
            <img ng-src="{{usero.id | avatar}}" class="md-avatar" alt="{{usero.name}}">
            <div class="md-list-item-text">
                <h3>{{ usero.name }}</h3>
                <p>{{ usero.id }}</p>
            </div>
            <md-button class="small-button" ng-if="usero.id===user._id" ng-click="groupChat()" class="md-secondary">
                <md-icon md-colors="{color: 'accent-A200'}">group</md-icon>
                <md-tooltip>start new group chat</md-tooltip>
            </md-button>
            <md-button class="small-button" ng-if="usero.id!=user._id" ng-click="chat(usero.id)" class="md-secondary">
                <md-icon md-colors="{color: 'accent-A200'}">chat_bubble_outline</md-icon>
                <md-tooltip>chat with {{ usero.name }}</md-tooltip>
            </md-button>
            <md-button class="small-button" ng-if="activeConversation.groupName" 
            ng-style="{'visibility': canBeAdded(usero.id) ? 'visible' : 'hidden'}" ng-click="addToChat(usero.id)" class="md-secondary">
                <md-icon md-colors="{color: 'accent-A200'}">group_add</md-icon>
                <md-tooltip>add {{ usero.name }} to {{ activeConversation.groupName }}</md-tooltip>
            </md-button>
        </md-list-item>
    <md-list>
</div>